.app-section--image-join-us {
    background: linear-gradient(
        to top,
        rgba(65, 65, 65, 0.5),
        rgba(65, 65, 65, 0.5)
      ),
      url(../images/join-our-program.png) no-repeat center/cover;
    height: 698px;
    max-width: 100%;
    color: white;
}

.app-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.app-form__input{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    outline: none;
    padding: 10px 20px;
}

.app-form__input--email{
    width: 380px;
    height: 16px;
}

.app-form__input::placeholder {
    color: white;
}

.app-form__button{
    background-color: #55c2d8;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}

.app-form__button--subscribe {
    border-radius: 18px;
    font-size: 14px;
    height: 36px;
    letter-spacing: 1.2px;
    padding: 0 10px;
    text-transform: uppercase;
    width: auto;
}